{{#if this.isStreaming}}
    <section class="section video-section">
        <video {{camera-source this.stream}} />
        <div class="video-buttons">
            <button class="button" {{action "scan"}}>Scan</button>
            <button class="button" {{action "close"}}>Close Camera</button>
        </div>
    </section>
{{else}}
    <button class="button" {{action "init"}}>
        Scan
    </button>
{{/if}}